{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}

{% block title %}Edit Offer{% endblock %}
{% block scripts %}{% endblock %}

{% block content %}
<form>
	<div>
		Tilte <input placeholder="title..." />
	</div>
	<div>
		Message <textarea></textarea>
	</div>
	<div>
		Image <input type="file" />
	</div>
	<input type="submit" value="push" />
</form>
{% endblock %}